/*****************************

        DEFAULT VALUES
FONT FAMILY: Roboto Condensed

COLOR SCHEME: 

Salmon:                  #FFA384        (Buttons, icons, links, lines and background)
Aquamarine:              #74BDCB        (Headings)
WHITE:                   #FFFFFF        (Text with black backgrounds)
REGISTRATED BLACK:       #000000        (Text)




*******************************/
/*GENERAL CSS*/
html,
body {
    height: 100%;
}

body {

    font-family: "Roboto", sans-serif;
    text-align: justify;
}


h3 , h1 {
    color:#74BDCB;
    text-transform: uppercase;
    
}
h4 {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

p {
    color: #000000 ;
    font-weight: 300;
    font-size: 16px;
}


/*****************************
        PARALLAX (generic)
*******************************/
.bg-parallax {
   background-repeat: no-repeat;
   background-position: center;
    background-size: cover;
    background-attachment: fixed ;
}

/*****************************
        BUTTONS (generic)
*******************************/
.btn-general {

    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}


.btn-yellow {
    border-color: #FFA384;
    color: #FFA384;
}

.btn-yellow:hover,
.btn-yellow:focus {
    background-color: #FFA384;
    color: #fff;
}

.owl-theme .owl-dots .owl-dot span {
    background: #FFA384;
 }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #FFA384; }



/*****************************
            CONTENT (generic)
*******************************/
.content-box {
    padding: 60px 60px 60px 60px;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30 0;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #FFA384;
    margin: 0 auto 30px auto;
}

.content-title-white h3 {
    color: #fff;
}


/*****************************
            ABOUT
*******************************/

#about-content-box {
    float: left;
    height: 600px;

}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0 0 30px 0;

}

#about-desc p {
    margin-bottom: 30px;
}

#about-image {  
    height: 100%;
    background-image: url(../img/bg-about.jpg);
    background-attachment: scroll;
    margin: 30px 0 30px 0;

}

.about-me-contact-title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}

.about-me-contact-desc {
    display: inline;
    padding-left: 90px;
    opacity: 0.8;
}

.about-me-contact-desc a{
    color: #74BDCB;
    padding-right: 50px;
    font-size: 1.5em

}
/*****************************
            SKILLS
*******************************/
.skills-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
    float: center;
}

.skills-item-icon i {
    color: #FFA384;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;

}

.skills-item:hover .service-item-icon i {
    color: #fff;
    background-color: #FFA384;
}

.skills-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.skills-item-desc p {
    margin: 0;
    float: left;
    padding-left: 85px;
}



/*****************************
            EDUCATION
*******************************/
.education-item{
    margin-top: 55px; 
}
.education-item-icon i {
    color: #FFA384;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    
}

.education-item:hover .education-item-icon i {
    color: #fff;
    background-color: #FFA384;
}

.education-item-title {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

.education-item-info {
    padding: 2px 0;
    opacity: 0.8;
    margin: 0;
}

.education-item-desc {
    margin-left: 100px;
    font-style: italic;
    opacity: 0.8;
}
/*****************************
            EXPERIENCE
*******************************/
.experience-item-title {
    float: left;
    margin-top: 5px;
    margin-right: 10px;

}
.experience-item-title h5{
    font-style: italic;
}
.experience-item-info {
    padding: 2px 0;
    opacity: 0.8;
    margin: 0;
}
.experience-item-title-desc{
    font-style: italic;
    opacity: 0.8;
}

.experience-item-icon{
    width: 200px;
    float: left;
    opacity: 0.7;
}

.experience-title-underline{
    height: 1px;
    background-color: #FFA384;
    margin: 0 auto 30px auto;
}







/*****************************
            PORTFOLIO
*******************************/
.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    overflow: hidden
}

.img-wrapper img {
    transition: transform .5s ease;
    width: 100%;
    height: 400px;

}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}

.portfolio-box .portfolio-name {
    font-weight: 700;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.55;
    margin: 25px;
    color: #000000  ;
}

.portfolio-box .portfolio-date {
    opacity: 0.8;
}
/*****************************
            PORTFOLIO MODAL
*******************************/


body.modal-open .header {
    padding-right: 17px; }


    .modal-dialog {
        width: 900px;
        max-width: 1500px;
    }

    .modal-dialog img{
        max-width: 860px;
    }


    .modal-body {
        
        padding: 40px 20px 30px; }
      .modal-body .close {
        top: 15px;
        right: 15px; }
  
        .modal{
            display: none;
            overflow: hidden;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1050;
            outline: 0;   
        }

        .span-title{
            color: #74BDCB;
            font-size: 20px;
    font-weight: 700;
        }
/*****************************
            FEEDBACK
*******************************/

#testimonials-cover {
    background-image: url("../img/bg-testimonials.jpg")

}


#testimonials .content-box {
    background-color: rgba(0, 0, 0, 0.1);
}


#customers-testimonials {
    padding: 50px 0;
}

.testimonial img {
    max-width: 120px;
    margin: 0 auto 0 auto;

}

.testimonial blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #fff;
    padding: 6px 150px;
    position: relative;
}

.testimonial blockquote p {
    color: #fff;
}

.testimonial blockquote::before,
.testimonial blockquote::after {
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}

.testimonial blockquote::before {
    content: "\201C";
    top: 0;
    left: 100px;
}

.testimonial blockquote::after {
    content: "\201D";
    bottom: 30px;
    right: 100px;
}

.testimonial-author p {
    color: #fff;
}

.testimonial-author p strong {
    display: block;
}

/*****************************
            SOCIAL ICONS
*******************************/
.social-list {
    padding: 10px 0 30px 0;
    text-align: center;

}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;
}

.icon-gray i {
    color: #3D3E23;
}

.icon-gray i:hover {
    color: #FFA384;
}